doctype html
html
  head
    title #{config.title} - #{config.description}
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description' content="meta desc")
    meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')

    //- ==================================================
    //- Essential Meta Tags for Social Media
    //- ==================================================

    meta(property='og:title' content=config.social.open_graph.title)
    meta(property='og:description' content=config.social.open_graph.description)
    meta(property='og:image' content=config.social.open_graph.image)
    meta(property='og:url' content=config.social.open_graph.url)

    meta(name='twitter:card' content=config.social.twitter.card)
    meta(name='twitter:site' content=config.social.twitter.site)
    meta(name='twitter:title' content=config.social.twitter.title)
    meta(name='twitter:image' content=config.social.twitter.image)
    meta(name='twitter:url' content=config.social.twitter.url)

    //- ==================================================
    //- Webapp
    //- ==================================================

    link(rel='apple-touch-icon' sizes='180x180' href='/favicon/apple-touch-icon.png')
    link(rel='icon' type='image/png' href='/favicon/favicon-32x32.png' sizes='32x32')
    link(rel='icon' type='image/png' href='/favicon/favicon-16x16.png' sizes='16x16')
    //link(rel='manifest' href='/manifest.json')
    link(rel='mask-icon' href='/favicon/safari-pinned-tab.svg' color=config.mobile.mask_icon_color)
    meta(name='apple-mobile-web-app-title' content=config.title)
    meta(name='application-name' content=config.title)
    meta(name='theme-color' content=config.mobile.theme_color)

    //- ==================================================
    //- Stylesheets
    //- ==================================================

    link(rel="stylesheet" href="css/style.css")

    //- ==================================================
    //- GA
    //- ==================================================

    if ((config) && (config.analytics) && (config.analytics.ga))
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '#{config.analytics.ga}', 'auto');
        ga('send', 'pageview');


  body
    .container

      //- ==================================================
      //- Put your content here
      //- ==================================================

      h1 #{config.title}
      p #{config.description}

      ul.nav
        each val in menu
          li
            a(href=val.href, target=val.external ? '_blank' : '')= val.name


    //- ==================================================
    //- Scripts
    //- ==================================================
    
    script(src='js/main.js')
